body {
    background-color: #f9f7fe;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
footer {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
}
a {
  color: #885df1;
}
.container {
    text-align: center;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
}
.search-input {
    display: block;
    color: #f9f7fe;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px;
    width: 75%;
}
.search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
}
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}
.current-temp {
    font-size: 48px;
    font-weight: 900;
}
.current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
